.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem 6rem 0 6rem;
  justify-content: flex-start;
  height: 600px;
}
.logoLanding {
  position: absolute;
  z-index: 0;
  transition: 180ms;
}
.logoLanding:hover {
  filter: blur(3px);
  transition: 180ms;
}
.header {
  font-family: "HalfbreD";
  letter-spacing: 5px;
  font-size: x-large;
  position: relative;
  top: 15%;
  z-index: 10;
}
.subheader {
  font-family: "Rasputin";
  letter-spacing: 0.3rem;
  font-weight: 500;
}
.landingButton {
  background-color: hsla(260, 100%, 81%, 0.4);
  font-family: "HalfbreD";
  font-size: large;
  margin-top: 2rem;
  letter-spacing: 1px;
  border-radius: 25px;
  border: none;
  width: 15rem;
  transition: 180ms;
  justify-content: center;
  padding: 0.5rem 1rem 0.5rem 1rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 1;
}
.landingButton:hover {
  transition: 180ms;
  box-shadow: 0px 7px 7px rgba(255, 255, 255, 0.25);
}
.formContainer {
  position: absolute;
  padding: 2rem;
  height: 50%;
  width: max-content;
  border-radius: 20px;
  background-color: rgba(238, 130, 238, 0.288);
  filter: blur(2px);
  z-index: 2;
}
.formContainer::backdrop {
  background-color: hsla(281, 100%, 14%, 0.404);
}
